:root {
  --primary: #8800ff;
  --primary-hover: #6c00ca;
  --bg: #111315;
  --secondary: #262626;
  --secondary-hover: #383838;
  --dropzone-bg: #1A1C1E;
  --gray: #D3D3D3;
  --border: #333333;
  --dropzone-border: #FFF;
  --headline: #FFF;
  --text: #FFF;
  --primary-text: #F2F7FE;
  --dropzone-over: var(--secondary);
  --btn-text: #303651;
}

*::selection {
  background: var(--primary);
  color: var(--primary-text);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Work Sans', sans-serif;
  background: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  padding: 1rem;
  color: var(--text);
  
}

.dropzone-box {
  border: 1px solid var(--border);
  border-radius: 2rem;
  width: 100%;
  overflow: hidden;
  max-width: 36rem;
  gap: .5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  background: var(--dropzone-bg);
}

.dropzone-box h2 {
  font-size: 1.4rem;
  
  color: var(--headline);
}

.dropzone-box p {
  font-size: 1rem;
  color: var(--gray);
}

.dropzone-area {
  position: relative;
  border: 2px dashed var(--dropzone-border);
  border-radius: 1rem;
  padding: 1rem;
  min-height: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dropzone-area .file-info {
  font-size: 1.1rem;
}

#upload-file {
  position: absolute;
  inset: 0;
  opacity: 0;
}

.dropzone-area .file-upload-icon svg {
  height: 6rem;
  max-width: 6rem;
  width: 100%;
  margin-bottom: 0.5rem;
  stroke: var(--headline);
}

.dropzone-area .file-upload-icon svg {
  height: 6rem;
  max-width: 6rem;
  width: 100%;
  margin-bottom: 0.5rem;
  stroke: var(--headline);
}

.dropzone-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.dropzone-actions button {
  flex-grow: 1;
  min-height: 3rem;
  font-size: 1.2rem;
  border: none;
  transition: background 0.3s ease;
}

.dropzone--over {
  border: 2px solid var(--primary);
  background: var(--dropzone-over);
}

.dropzone-actions button[type='reset'] {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: var(--text);
  background: var(--secondary);
  cursor: pointer;
  border: 1px solid var(--border);
}

.dropzone-actions button[type='reset']:hover {
  background: var(--secondary-hover);
}

.dropzone-actions button[type='submit'] {
  background: var(--primary);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: var(--primary-text);
  border: none;
  cursor: pointer;
}

.dropzone-actions button[type='submit']:hover {
  background: var(--primary-hover);
}






